@force-import 'variables';
@force-import 'icons';
@force-import 'typography';
@force-import 'common';

/*____________________________________________________
                    M A I N  P A G E
 ===================================================*/
/*
------------------- S L I D E R ----------------------
*/
#main-slider{
  @extend .box_sizing;
  width: 100%;
  padding-bottom: 46px;
  margin-bottom: -16px;
  background: url(../img/shadow_slider.png) center bottom no-repeat;
  //height: 100%;
  //overflow: hidden;
  &.flexslider{
    .flex-viewport{border: 3px solid white;overflow: hidden;line-height: 0;}
  }
}
.flexslider{
  position: relative;
  .flex-direction-nav{
    position: absolute;
    top: 50%;
    margin-top: -60px;
    width: 100%;
    li{
      &:first-child{float: left;right: inherit;left: -40px;}
      float: right;
      position: relative;
      right: -40px;
      z-index: 20;
      zoom: 1;
    }
    a{
      &.flex-prev{
        @extend .icon;
        @extend .i-slider-arrow-left;
      }
      &.flex-next{
        @extend .icon;
        @extend .i-slider-arrow-right;
      }
      display: block;
      text-indent: -9999px;
      background: url(../img/sprite.png) no-repeat;
    }
  }
  figure{
    position: relative;
    figcaption{
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      text-align: center;
      z-index: 10;
      zoom: 1;
      color: #fff;
      .wrap{
        width: 80%;
        margin: 0 auto;
        //margin-top: 8.8%;
        display: table-cell;
        height: 300px;
        vertical-align: middle;
      }
      .flex-title{
        display: inline-block;
        font-size: 4.8em;
        line-height: 1.6;
        font-family: 'open_sansbold';
        padding: 0px 25px;
        background: #00a2ff; /* Old browsers */
        background: -moz-linear-gradient(top,  #00a2ff 0%, #00c5f7 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a2ff), color-stop(100%,#00c5f7)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #00a2ff 0%,#00c5f7 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #00a2ff 0%,#00c5f7 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #00a2ff 0%,#00c5f7 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #00a2ff 0%,#00c5f7 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a2ff', endColorstr='#00c5f7',GradientType=0 ); /* IE6-9 */

      }
      .flex-description{
        max-width: 80%;
        text-transform: uppercase;
        display: inline-block;
        font-size: 2.3em;
        line-height: 1.6;
        font-family: 'open_sansregular';
        padding: 0px 25px 10px 25px;
        background: #00a2ff; /* Old browsers */
        background: -moz-linear-gradient(top,  #00c5f7 0%, #00d8f2 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00c5f7), color-stop(100%,#00d8f2)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #00c5f7 0%,#00d8f2 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #00c5f7 0%,#00d8f2 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #00c5f7 0%,#00d8f2 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #00c5f7 0%,#00d8f2 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c5f7', endColorstr='#00d8f2',GradientType=0 ); /* IE6-9 */

      }
    }
  }
}
/* END */

.blue-stripe{
  color: #fff;

  background: #19c1ff; /* Old browsers */
  background: -moz-linear-gradient(left,  #19c1ff 0%, #0087b9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#19c1ff), color-stop(100%,#0087b9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #19c1ff 0%,#0087b9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #19c1ff 0%,#0087b9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #19c1ff 0%,#0087b9 100%); /* IE10+ */
  background: linear-gradient(to right,  #19c1ff 0%,#0087b9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19c1ff', endColorstr='#0087b9',GradientType=1 ); /* IE6-9 */

}

.quick-nav{
  @extend .box_sizing;
  padding-top: 0px !important;
  font-family: 'open_sansregular';
  .cat_link{
    color: #00a3df;
    font-size: 1.6em;
    font-family: 'open_sans_semiboldregular';
    margin-bottom: 5px;
    letter-spacing: -0.15px;
  }
  .menu-item{
    @extend .box_sizing;
    &.w25{&:nth-child(4n+1){clear: both;}}
    &.w33{&:nth-child(3n+1){clear: both;}}
    &.w50{&:nth-child(2n+1){clear: both;}}
    padding-right: 0.5%;
    margin: 10px 0px 10px 0px;
  }
  .sub_cat_list{
    li{
      &:last-child{margin-right: 0;}
      margin-right: 3.5px;
      color: #00455e;
      a{font-size: 1.15em;color: #00455e;letter-spacing: -0.25px;}
    }
  }
}
.blue-stripe{
  padding: 12px 0px 10px 0px;
  .action-text{
    [class*="size-"] {letter-spacing: 0.5px;}
    //.size-*{letter-spacing: 0.1px;}
    margin-left: 25%;margin-right: 10px;font-family: 'open_sansbold';
    .label-price{
      @extend .label-price;
    }
  }
  .btn{
    vertical-align: 0px;
  }
}

.mt70{margin-top: 70px;}
.mt50{margin-top: 50px;}
.mt20{margin-top: 20px;}

.module{
  &.module-discount{
    @extend .round-5;
    @extend .box_sizing;
    font-size: 14px;
    margin-bottom: 22px;
    .module-body{
      padding: 15px 12px;
      p{margin: 0;}
      .btn{font-size: 14px;}
    }
    .price{
      font-size: 25px;font-family: 'open_sans_semiboldregular';line-height: 1.25;
      margin: 5px 0px 8px 0px;
    }
  }
}

@mixin css-arrow($box-edge         : bottom,
$edge-side        : center,
$arrow-size       : 10px,
$edge-side-offset : 0,
$fill-color       : white,
$border-color     : none,
$border-style     : border) {

  $box-edge-inverse: bottom;
  $edge-side-pos: $edge-side;
  $edge-side-pos-value: 0;

  @if      $box-edge == top    { $box-edge-inverse: bottom; }
  @else if $box-edge == right  { $box-edge-inverse: left;   }
  @else if $box-edge == bottom { $box-edge-inverse: top;    }
  @else if $box-edge == left   { $box-edge-inverse: right;  }

  @if ($box-edge == 'top' or
       $box-edge == 'bottom') {
    @if $edge-side == center {
      $edge-side-pos: left;
      $edge-side-pos-value: 50%;
      $edge-side-offset: (-$arrow-size);
    }
  }
  @if ($box-edge == 'left' or
       $box-edge == 'right') {
    @if $edge-side == center {
      $edge-side-pos: top;
      $edge-side-pos-value: 50%;
      $edge-side-offset: (-$arrow-size);
    }
  }
  &:after, &:before {
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: solid rgba(#fff, 0);
  }

  &:after  {
    border-color: rgba(#fff, 0);
    border-width: $arrow-size - 1;
    #{$box-edge}: (-$arrow-size) - $arrow-size + 2;
    border-#{$box-edge-inverse}-color: $fill-color;
    #{$edge-side-pos}: $edge-side-pos-value;
    margin-#{$edge-side-pos}: $edge-side-offset + 1;
  }

  @if $border-style == flag {
    @include prefix(border-radius, 2px);
    &:before {
      border-color: rgba(#fff, 0);
      border-width: $arrow-size - 1;
      #{$box-edge}: (-$arrow-size) - $arrow-size + 2;
      border-#{$box-edge-inverse}-color: $border-color;
      #{$edge-side-pos}: $edge-side-pos-value;
      margin-#{$edge-side-pos}: $edge-side-offset + 2;
    }
  } @else {
    &:before {
      border-color: rgba(#fff, 0);
      border-width: $arrow-size;
      #{$box-edge}: (-$arrow-size) - $arrow-size;
      border-#{$box-edge-inverse}-color: $border-color;
      #{$edge-side-pos}: $edge-side-pos-value;
      margin-#{$edge-side-pos}: $edge-side-offset;
    }
  }
}



.arrow {
  @extend .round-5;
  @extend .box_sizing;
  @include css-arrow;
  @include prefix(box-shadow, 0px 5px 20px rgba(0,0,0,0.2));
  position: relative;
  width: 100%;
  min-height: 30px;
  padding: 15px 10px;
  background: white;
  text-align: center;
  &.narrow{
    padding: 15px;
    p{&.notice{padding: 0;}padding: 0px 5%;}
  }
  &.default {
    @include css-arrow;
  }
  &.red,&.blue{
    color: #fff;
    a{color: #fff;}
    p{
      &.notice{font-size: 15px;line-height: 1.2;font-weight: bold;}
      font-size: 12px;
      letter-spacing: -0.2px;
      line-height: 18px;
      margin: 0 0 6px;
    }
  }
  &.red{
    @include css-arrow(bottom, center, 7px, 0, #ee2f25);
    background: #ff4b42; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff4b42 0%, #ee2e24 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff4b42), color-stop(100%,#ee2e24)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff4b42 0%,#ee2e24 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff4b42 0%,#ee2e24 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff4b42 0%,#ee2e24 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ff4b42 0%,#ee2e24 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4b42', endColorstr='#ee2e24',GradientType=0 ); /* IE6-9 */
  }
  &.blue{
    @include css-arrow(bottom, center, 7px, 0, #00a4e0);
    background: #10beff; /* Old browsers */
    background: -moz-linear-gradient(top,  #10beff 0%, #00a3df 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#10beff), color-stop(100%,#00a3df)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #10beff 0%,#00a3df 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #10beff 0%,#00a3df 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #10beff 0%,#00a3df 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #10beff 0%,#00a3df 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10beff', endColorstr='#00a3df',GradientType=0 ); /* IE6-9 */

  }
  //&.small {
  //  background: $purple;
  //  @include css-arrow(left, center, 6px, 0, $purple);
  //}
  //&.med {
  //  background: $purple-dark;
  //  @include css-arrow(top, left, 8px, 10px, $purple-dark);
  //}
  //&.large {
  //  background: $purple-darker;
  //  @include css-arrow(bottom, right, 14px, 25px, $purple-darker);
  //}
  //&.border {
  //  color: $green-darkest;
  //  width: 98px;
  //  height: 28px;
  //  border: 1px solid $green-darker;
  //  background: $green-light;
  //  @include css-arrow(top, center, 18px, 0, $green-light, $green-darker);
  //}
  //&.flag {
  //  color: $green-darkest;
  //  @include border-radius(3px 0 0 3px);
  //  background: $green;
  //  @include box-shadow(0 1px 0 $purple);
  //  @include css-arrow(right, center, 20px, 0, $green, $purple-dark, flag);
  //}
}

/*
------------------- T A B S ----------------------
*/
.tabs-container{
  >ul{
    overflow: hidden;display: block;margin: 10px 0px 20px 0px;
    li{
      &.active{
      @extend .round-5;
        @include prefix(transition, all .15s linear, $o:true, $ms:true);
       background: #e8f9ff;
        a{span{border-bottom: medium none;}}
      }
      padding: 8px 10px;
      a{
        color: #00a3df;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        span{border-bottom: 1px dashed #00a3df;}
      }
    }
  }
}

/*
------------------- autocomplete -------------------
*/
.autocomplete-suggestions {
  @extend .round-5;margin-top: 10px;
  border: 1px solid #e6e6e6; background: #FFF; cursor: default; overflow: auto;
}
.autocomplete-suggestion { padding: 4px 10px; font-size: 14px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; font-size: 14px; color: #00455e; }