$width:980px;
$width-wide:1080px;
$width-content:980px;
//$width-big:1190px;
$color-text:#333333;
$color-link:#00a3df;
$bg-color:#e8f9ff;
$footer-height:10px;
$footer-bg: transparent;
$header-bg: transparent;

$sidebar-left-width:195px;
$sidebar-right-width:140px;
$sidebar-right-width-wide:190px;

$light-grey:#f3f3f3;
$grey:#f2f2f2;
$dark-grey:#efefef;
$gold:#ff9d02;
$text-red:#ee2e24;